.disabled {
	display: none !important;
	transition: all 0.5s ease;
}
select {
	-webkit-border-radius: 0;
	border-radius: 0;
	font-family: inherit;
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875em;
	padding: 0.5em;
	height: 2.3125em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
