@media all {
	#page-break	{ display: none; }
}

@media print {
	#page-break	{ display: block; page-break-after: always; -webkit-region-break-after: always;}
	body,html {margin:0;}
	
	@page  
	{ 
	    size: 8.5in 11in;
	    margin: 1.2cm;
	} 
	
	*,p,legend,h2,h3,h4,ul,li{font-size: 10pt;}
	legend{background-color: #fff;}
  	h3,h4{display: inline;}
  	columns *{position: relative;}
  	fieldset {page-break-inside: avoid}
}